C#/DotNetFramework/PayamGostarConsoleWcfSamples/Connected Services/PgForm/IForm1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://crm.payamgostar.com/Services/API/IForm.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts" />
  <xs:import schemaLocation="http://crm.payamgostar.com/Services/API/IForm.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://crm.payamgostar.com/Services/API/IForm.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.BusinessLogicLayer.Entities.PayamGostar" />
  <xs:element name="SaveForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts" minOccurs="0" name="formInfo" nillable="true" type="q1:FormInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts" minOccurs="0" name="SaveFormResult" nillable="true" type="q2:SaveCrmObjectResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="typeKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts" minOccurs="0" name="SearchFormResult" nillable="true" type="q3:FormInfoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFormById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="formId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFormByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts" minOccurs="0" name="FindFormByIdResult" nillable="true" type="q5:FormInfoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFormById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="formId" type="q6:guid" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.BusinessLogicLayer.Entities.PayamGostar" minOccurs="0" name="deleteOption" type="q7:CrmObjectDeleteOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFormByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts" minOccurs="0" name="DeleteFormByIdResult" nillable="true" type="q8:SaveCrmObjectResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>