C#/DotNetFramework/PayamGostarConsoleWcfSamples/Connected Services/PgPerson/IPerson3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://crm.payamgostar.com/services/api/IPerson.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts" />
  <xs:import schemaLocation="http://crm.payamgostar.com/services/api/IPerson.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://crm.payamgostar.com/services/api/IPerson.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.BusinessLogicLayer.Entities.PayamGostar" />
  <xs:element name="SavePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts" minOccurs="0" name="person" nillable="true" type="q1:PersonInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts" minOccurs="0" name="SavePersonResult" nillable="true" type="q2:SaveCrmObjectResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="typeKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts" minOccurs="0" name="SearchPersonResult" nillable="true" type="q3:PersonInfoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="personId" type="q4:guid" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.BusinessLogicLayer.Entities.PayamGostar" minOccurs="0" name="deleteOption" type="q5:CrmObjectDeleteOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts" minOccurs="0" name="DeletePersonByIdResult" nillable="true" type="q6:SaveCrmObjectResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPersonById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="personId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPersonByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts" minOccurs="0" name="FindPersonByIdResult" nillable="true" type="q8:PersonInfoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>