C#/DotNetFramework/PayamGostarConsoleWcfSamples/Connected Services/PgPerson/Person.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Person" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://crm.payamgostar.com/services/api/IPerson.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://crm.payamgostar.com/services/api/IPerson.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://crm.payamgostar.com/services/api/IPerson.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.ServiceLayer.Contract.PGContracts.DataContracts" />
      <xsd:import schemaLocation="http://crm.payamgostar.com/services/api/IPerson.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://crm.payamgostar.com/services/api/IPerson.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Septa.PayamGostar.BusinessLogicLayer.Entities.PayamGostar" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPerson_SavePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePerson" />
  </wsdl:message>
  <wsdl:message name="IPerson_SavePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPerson_SearchPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPerson" />
  </wsdl:message>
  <wsdl:message name="IPerson_SearchPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPerson_DeletePersonById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonById" />
  </wsdl:message>
  <wsdl:message name="IPerson_DeletePersonById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPerson_FindPersonById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindPersonById" />
  </wsdl:message>
  <wsdl:message name="IPerson_FindPersonById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindPersonByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IPerson">
    <wsdl:operation name="SavePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerson/SavePerson" message="tns:IPerson_SavePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerson/SavePersonResponse" message="tns:IPerson_SavePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerson/SearchPerson" message="tns:IPerson_SearchPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerson/SearchPersonResponse" message="tns:IPerson_SearchPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePersonById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerson/DeletePersonById" message="tns:IPerson_DeletePersonById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerson/DeletePersonByIdResponse" message="tns:IPerson_DeletePersonById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindPersonById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerson/FindPersonById" message="tns:IPerson_FindPersonById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerson/FindPersonByIdResponse" message="tns:IPerson_FindPersonById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPerson" type="tns:IPerson">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SavePerson">
      <soap:operation soapAction="http://tempuri.org/IPerson/SavePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPerson">
      <soap:operation soapAction="http://tempuri.org/IPerson/SearchPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePersonById">
      <soap:operation soapAction="http://tempuri.org/IPerson/DeletePersonById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPersonById">
      <soap:operation soapAction="http://tempuri.org/IPerson/FindPersonById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Person">
    <wsdl:port name="BasicHttpBinding_IPerson" binding="tns:BasicHttpBinding_IPerson">
      <soap:address location="http://crm.payamgostar.com/services/api/IPerson.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>